body, html{
    height: max-content;
    background-image: linear-gradient(rgb(255, 136, 136), rgb(255, 255, 255), rgb(0, 0, 0));
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

label{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.one{
    text-align: center;
}

.two{
    text-align: center;
}

.fight-button {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fight-button {
    font-size: 2rem;
}

#results {
    text-align: center;
    font-size: 1.5rem;
}

.image{
    text-align: center;
}